<div class="container">
  <h1>USUARIO</h1>
  <hr />
  <div class="spinner-border text-danger" role="status" *ngIf="Loading"></div>
  <form
    [formGroup]="singin"
    style="padding-top: 30px;"
    (ngSubmit)="obtenerUsuario()"
  >
    <div class="form-group">
      <label>Correo </label>
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="example@mail.cl "
        formControlName="email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >Nunca compartiremos esta informacion </small
      >
      <!-- <span
        class="text-danger ml-3"
        *ngIf="
          tareas.get('titulo').hasError('required') &&
          tareas.get('titulo').touched
        "
        >El titulo es requerido</span -->
      
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input
        type="password"
        class="form-control"
        aria-describedby="passwordHelp"
        formControlName="password"
      />
     
      <!-- <span
          class="text-danger ml-3"
          *ngIf="
            tareas.get('titulo');
            hasError: 'required' && tareas.get('autor').touched
          "
          >El titulo es requerido</span
        > -->
    </div>

 
    <button class="btn btn-primary mt-5 btn-block">Ingresar</button>
  </form>
</div>
